@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);
@import url(/styles/flashcard.css);

:root {
    --cor-principal: #0c4201e7;
    --cor-secundaria: #A3CFCD;
    --cor-rosa: #82A0AA;
    --cor-laranja:#677381;
    --cor-fundo: #4B4A54;
    --cor-escrita: #2A272A;
    --cor-botao: #FFF5F9;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}
