@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);
@import url(/styles/flashcard.css);

:root {
    --cor-principal: #0c4201e7;
    --cor-secundaria: #00AAA9;
    --cor-rosa: #28161C;
    --cor-laranja: #9296F0;
    --cor-fundo: #5B63B7;
    --cor-escrita: #F9F871;
    --cor-botao: #FFF5F9;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}
